<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
    <ion-back-button defaultHref="/profile" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title text-align="center" color="light">Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background-image">
  <div class="chat" *ngFor="let chat of chatRef | async">
  <div class="me" *ngIf="uid==chat.UserID" (click)="share(chat)">
    <span class="name">{{chat.Name}}</span><br>
    {{chat.Message}}</div>
  <div class="you" *ngIf="uid != chat.UserID"  (click)="share(chat)">
  <span class="name">{{chat.Name}}</span><br> {{chat.Message}}
  </div>
  </div>
  </ion-content>
  <ion-footer color="medium">
  <ion-item>
  <ion-input placeholder="Type Message....." [(ngModel)]="text"></ion-input>
  <ion-button (click)="send()" fill="clear" icon-only slot="end">
  <ion-icon name="send"></ion-icon>
  </ion-button>
  </ion-item>
  </ion-footer>