<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Tabs</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding class="background-image">
  <ion-tabs>
      <ion-tab-bar slot="bottom" color="light">
          <ion-tab-button tab1="chats" routerLink="/chat">
              <ion-icon name="chatbubbles" color="dark"></ion-icon>
              <ion-label color="dark">Chat</ion-label>
          </ion-tab-button>
          <ion-tab-button tab2="profile" routerLink="/profile">
              <ion-icon name="contact" color="dark"></ion-icon>
              <ion-label color="dark">Profile</ion-label>
          </ion-tab-button>
          <ion-tab-button tab3="Channels" routerLink="/user">
            <ion-icon name="paper" color="dark"></ion-icon>
            <ion-label color="dark">Contacts</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
  </ion-tabs>
</ion-content>
