.background-image {
    --background: url('../../../assets/crop.jpg')0 0/100% 100%  no-repeat;
  }
  .back{
      color:black;
  }
  .textCol{
      color: black;
  }
  .editButton{
      color: white;
      
      ;
      padding: 0;
border: none;
background: none;
  }
